*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.app{
    width: 100vh;
    overflow: hidden;


}
body{
    background: whitesmoke;
    color: black;
    font-family: Comfortaa, sans-serif;
}

a
{
    text-decoration: none;
}