*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Comfortaa, sans-serif;
    color: black;
}
.app{
    width: 100vh;
    overflow: hidden;

}
a
{
    text-decoration: none;
}